[user]
    name  = {{ .fullName | quote }}
    email = {{ .email | quote }}

[init]
    defaultBranch = main

[pull]
    rebase = false

[push]
    autoSetupRemote = true

[core]
    editor = nvim

[filter "lfs"]
    clean    = git-lfs clean -- %f
    smudge   = git-lfs smudge -- %f
    process  = git-lfs filter-process
    required = true

{{ if and (eq .flavor "work") .work_org -}}
# Rewrites for the work GitHub org so SSH uses the work-specific host alias
# defined in private_dot_ssh/config.tmpl.
[url "git@github.com-work:{{ .work_org }}/"]
    insteadOf = git@github.com:{{ .work_org }}/
{{- end }}
